Project/Insurance.WebApi/Connected Services/AuthService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Insurance.BL.Models" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthService_SignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="IAuthService_SignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_RegistrationAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationAccount" />
  </wsdl:message>
  <wsdl:message name="IAuthService_RegistrationAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IAuthService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthService">
    <wsdl:operation name="SignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/SignIn" message="tns:IAuthService_SignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/SignInResponse" message="tns:IAuthService_SignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrationAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/RegistrationAccount" message="tns:IAuthService_RegistrationAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/RegistrationAccountResponse" message="tns:IAuthService_RegistrationAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/GetUser" message="tns:IAuthService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/GetUserResponse" message="tns:IAuthService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/ChangePassword" message="tns:IAuthService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/ChangePasswordResponse" message="tns:IAuthService_ChangePassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthService" type="tns:IAuthService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="http://tempuri.org/IAuthService/SignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrationAccount">
      <soap:operation soapAction="http://tempuri.org/IAuthService/RegistrationAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IAuthService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IAuthService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthService">
    <wsdl:port name="BasicHttpBinding_IAuthService" binding="tns:BasicHttpBinding_IAuthService">
      <soap:address location="http://localhost:8080/Insurance.WCF.AuthService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>