Project/Insurance.WebApi/Connected Services/PolicyService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PolicyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Insurance.BL.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPolicyService_PolicyCalculate_InputMessage">
    <wsdl:part name="parameters" element="tns:PolicyCalculate" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_PolicyCalculate_OutputMessage">
    <wsdl:part name="parameters" element="tns:PolicyCalculateResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_PolicyRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:PolicyRegistration" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_PolicyRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:PolicyRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicy" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicyResponse" />
  </wsdl:message>
  <wsdl:portType name="IPolicyService">
    <wsdl:operation name="PolicyCalculate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/PolicyCalculate" message="tns:IPolicyService_PolicyCalculate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/PolicyCalculateResponse" message="tns:IPolicyService_PolicyCalculate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PolicyRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/PolicyRegistration" message="tns:IPolicyService_PolicyRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/PolicyRegistrationResponse" message="tns:IPolicyService_PolicyRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetPolicy" message="tns:IPolicyService_GetPolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetPolicyResponse" message="tns:IPolicyService_GetPolicy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPolicyService" type="tns:IPolicyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PolicyCalculate">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/PolicyCalculate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PolicyRegistration">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/PolicyRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicy">
      <soap:operation soapAction="http://tempuri.org/IPolicyService/GetPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PolicyService">
    <wsdl:port name="BasicHttpBinding_IPolicyService" binding="tns:BasicHttpBinding_IPolicyService">
      <soap:address location="http://localhost:8081/Insurance.WCF.PolicyService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>